
.content {
    width: 400px;
}

.item1, .item3 {
    float: left;
    width: 120px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
}

.item2, .item4 {
    width: 120px;
    margin-left: 135px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
}

.item5 {
    width: 120px;
    height: 100px;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid black;
}

.item3, .item4, .item5 {
    margin-top: 25px;
}
